.card-index{
  background-color: white;
  margin: 5px;
  margin-bottom: 20px;
  height:370px;
  width:340px;
  box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.63);
  border: 0.1px;
  padding:15px;
  a {color: black;}
  display: inline-block;
  text-align:center;

}

.banner{
  display:inline-block;
  text-align:center;
}
