

.card-cocktail{
  background-color: white;
  width:600px;
   h1{font-family: 'Source Code Pro', monospace;
     text-align: center;}
  margin-right: 200px;
  margin-left: 200px;
  display: inline-block;
  text-align:center;


}

.card-content {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  padding: 15px;
  margin-right: 15px;
  a {color:black;}


}

.card-info{
  background-color: white;
  p{text-align: center;}


}

.card-action{
    background-color: light-gray;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
  }

.trash{
  color:black;
  font-weight:light;
}

.trash:hover{
  font-weight: bolder;
  color:black;
}

.add{
  text-align:center;
  margin-top:15px;


}
